* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #3b4252;
}

hr {
  border: none;
  border-top: 2px solid #d8dee9;
  margin-top: 6px;
  margin-bottom: 6px;
}

.main-container {
  background-color: #4c566a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sections-container {
  transition: opacity 0.6s ease;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Efter en del testande och undersökande med att få till en gemensam box-shadow för sektionerna (med flex-wrap blir skuggan fel när det wrappar)
  Så hittade jag filter: drop-shadow som gör precis det jag vill utan krångel */
  filter: drop-shadow(2px 2px 10px rgba(22, 22, 22, 0.6));
}

.section {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.section-login {
  background-color: #eceff4;
  gap: 12px;
}

.section-register {
  background-color: #d8dee9;
  gap: 18px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 12px;
}

.input-field {
  display: block;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #d8dee9;
  font-weight: bold;
}

.input-field:focus {
  background-color: #eceff4;
}

.login-btn {
  display: block;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #5e81ac;
  color: white;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #81a1c1;
}

.register-btn {
  background-color: #709358;
  color: #eceff4;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-weight: bold;
  cursor: pointer;
}

.register-btn:hover {
  background-color: #81a769;
}

.welcome-msg {
  color: #eceff4;
  font-size: 3rem;
  font-weight: bold;
  transition: opacity 1s ease;
  cursor: default;
  user-select: none;
}

.remember-me {
  font-size: 0.9rem;
  display: flex;
  gap: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.forgot-pw {
  width: 88%;
  text-decoration: none;
  color: #5e81ac;
  font-size: 0.9rem;
}
